* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Roboto';
}

main {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

p#welcome {
    align-self: end;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 36px;
}

div#logo {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

p#main-logo {
    font-family: 'Reenie Beanie';
    font-size: 64px;
}

p#byline {
    text-align: right;
    font-size: 12px;
}

a#continue-button {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: start;
}

button {
    border: none;
    padding: 15px;
    font-size: 24px;
    background-color: coral;
    border-radius: 25px;
}

button:hover {
    background-color: darkorange;
    cursor: pointer;
}

p#signin-text {
    font-size: 24px;
    align-self: end;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

a#login-account {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: start;
}

form {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

label {
    font-size: 16px;
}

input {
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

input#submit {
    width: auto;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: center;
    padding-bottom: 10px;
    border: none;
    font-size: 24px;
    background-color: coral;
    border-radius: 25px;
}

input#submit:hover {
    background-color: darkorange;
    cursor: pointer;
}
